/*All Tabs*/

body {
    font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 50px;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    margin: 0 auto 20px;
    text-align: center;
}

p > span {
    color: #ee4041;
}

.box {
    overflow: hidden;
    background: #f6efe4 url(../images/bg.png) repeat;
}


/*导航条*/

.navbar {
    font-size: 14px;
}

.navbar-brand {
    padding-left: 80px;
}

.navbar-brand img {
    margin: -8px auto;
}


/*巨幕*/

.jumbotron {
    height: 440px;
    margin: 0 auto;
    background: url(../images/top.jpg) no-repeat center;
    background-size: cover;
}


/*次导航栏*/

.navigation {
    height: 90px;
    margin: 0 auto;
    background: url(../images/navigation.png) no-repeat left;
    background-size: contain;
}

.navigation ul {
    height: 90px;
}

.navigation ul li {
    display: inline-block;
    height: 90px;
}

.navigation ul li a.dangqian {
    color: #ee4041;
}

.navigation ul li a {
    font-size: 24px;
    font-weight: bold;
    line-height: 100px;
    padding: 0 40px;
}

.navigation ul li a:hover {
    text-decoration: underline;
    color: #ee4041;
}


/* main */

.box > .container {
    margin: 0 auto;
}


/*活动引言*/

.yy p,
.mt .mtdw,
.px .pxwyh {
    line-height: 48px;
    padding: 0 3.75em;
    text-indent: 2em;
    color: #444;
}

.yy {
    margin: 65px auto 0;
}


/*活动主题*/

.zt .bt {
    margin: 0 auto;
}

.zt {
    height: 300px;
    margin: 65px auto 0;
    background: url(../images/zt_bg.png) no-repeat center;
}

.zt .bt {
    margin: 0 auto;
}

.zt .bt .bt_p {
    font-size: 30px;
    line-height: 2;
    text-align: center;
    color: #000;
}


/*主办单位*/

.zb {
    height: 200px;
    margin: 65px auto 0;
}

.zb p.hks {
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    color: #222;
}


/* 支持单位 */

.zc {
    height: 400px;
    margin: 65px auto 0;
}

.zc p.zcdw {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #222;
}


/*支持媒体*/

.mt {
    height: 500px;
    margin: 65px auto 0;
}

.mt div > img {
    width: 100%;
    margin-bottom: 20px;
}

.px {
    height: 200px;
    margin: 65px auto 0;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    width: 95px;
    margin-bottom: 20px;
    padding: 5px 5px 5px 10px;
    color: #fff;
    border-radius: 2px;
    background: #ee4041;
}

.act-time {
    margin: 40px auto 0;
}

.act-time > .col-md-4 {
    line-height: 20px;
    width: 320px;
    height: 230px;
    margin: 0 5px;
    padding: 120px 60px;
    text-align: center;
    background-image: url(../images/time_bg.png);
    background-repeat: no-repeat;
}

.act-time_item-1 {
    background-position: left;
}

.act-time_item-2 {
    background-position: center;
}

.act-time_item-3 {
    background-position: right;
}

.addr {
    margin: 40px auto 0;
}

.container.main > div {
    margin: 40px auto 0;
}

.container.main > div p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #444;
}

.container.main > div p a {
    color: #ee4041;
}


/*作品*/

.wooks {
    margin: 0 auto;
    padding: 0;
}

.wooks li {
    display: inline-block;
    margin: 10px 10px auto;
    list-style: none;
}

.wooks li a {
    text-decoration: none;
}

.zp h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: #222;
}

.zp p {
    font-size: 14px;
    line-height: 14px;
    color: #444;
}


/*详细页开始*/

.details_heading {
    width: 100%;
}

.demos {
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
}

.demo-image {
    display: inline-block;
    width: 100%;
    height: 500px;
    margin-right: 8px;
    margin-bottom: 16px;
    margin-left: 8px;
    border: 10px solid #fff;
    border-radius: 10px;
    cursor: url('../images/plus_cursor.png') 25 25, auto;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.demo-image.first {
    background-image: url('../images/w1.jpg');
}

.zz {
    padding-top: 20px;
}

.jianjie {
    margin-bottom: 50px;
}

.jianjie .zz img {
    width: 230px;
    height: 280px;
}

.jianjie h3 {
    font-size: 26px;
    font-weight: bold;
    line-height: 26px;
    padding-bottom: 20px;
    color: #222;
}

.jianjie p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
    text-indent: 2em;
    color: #444;
}


/* Footer */

.bs-docs-footer {
    margin-top: 150px;
    padding: 10px 0 5px;
    text-align: left;
    color: #99979c;
    background-color: #2a2730;
}

.bs-docs-footer{
    font-size: 15px;
}

.navbar-nav {
    margin: 0 !important;
}

.navbar-nav > li > a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}


/* 大于1200px时 --电脑 */

@media(min-width:1200px) {
    .container {
        width: 1020px;
        padding: 0;
    }
    .navbar-brand {
        padding-left: 200px;
    }
    .navbar-right {
        padding-right: 170px;
    }
    .details_heading{
        background:transparent;
        color: #222; 
    }
}


/* 响应式布局 iPad768px*/

@media (max-width: 768px) {
    .navbar-brand {
        padding-top: 5px;
        padding-left: 20px;
    }
    ul.nav-list_item > li {
        display: inline-block;
    }
    .navbar-brand img {
        margin: 3px auto;
    }
    .jumbotron {
        height: 400px;
        background-image: url(../images/mobile.jpg);
    }
    .yy p,
    .mt .mtdw,
    .px .pxwyh {
        line-height: 2;
        padding: 0 6px;
        text-indent: 2em;
    }
    .zt .bt .bt_p {
        font-size: 24px;
    }
    .zb p.hks,
    .zc p.zcdw {
        font-size: 20px;
    }
    .yy,
    .zc,
    .mt {
        margin-top: 40px;
    }

    .zt,
    .zb {
        height: 220px;
        margin-top: 40px;
    }
    .zc p.zc_pic > img {
        width: 100%;
    }
    /*图片列表*/
    .wooks li {
        margin: 10px 40px;
    }
    /*详细页大图*/
    .demo-image {
        width: 100%;
        margin: 0;
        margin-bottom: 50px;
    }

    .demos,
    .jianjie {
        margin-bottom: 0;
    }

    /*footer*/
    
    .bs-docs-footer p {
        margin-bottom: 0;
        padding: 0;
    }
}


/* iPhone6 iPhone6Plus */

@media (max-width: 425px) {
    /*导航条*/
    .container-fluid {
        height: 40px;
    }
    .navbar-brand {
        width: 50px;
        height: 40px;
        padding: 4px 0 0;
    }
    ul.nav-list_item {
        width: 375px;
    }
    .navbar-brand img {
        -webkit-clip-path: inset(0px 63px 0px 0px);
        clip-path: inset(0px 63px 0px 0px);
        -webkit-transform:scale(.9);
        transform:scale(.9);
    }
    .jumbotron {
        height: 230px;
    }
    /*row*/
    .container > .row{
        padding: 0 2px;
    }

    .yy{
        margin-top: 10px;
    }

    .zt .bt .bt_p,
    .zb p.hks {
        font-size: 18px;
        line-height: 2;
        color: #222;
    }
    .zc p.zcdw {
        font-size: 16px;
    }

    .zc{
        height: 260px;
    }

    .zc,
    .mt {
        margin-top: 30px;
    }
    .zt{
        height: 155px;
        margin-top: 30px;
    }
    .zb {
        height: 180px;
        margin-top: 30px;
    }
    .row h1 > img {
        width: 100%;
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
    .mt {
        height: 400px;
    }
    .act-time,
    .act-time > .col-md-4 {
        margin: 0 auto;
    }
    /* 作品及图片列表 */
    .wooks li {
        position: relative;
        width: 100%;
        margin: 10px auto;
    }
    .zp h3 {
        line-height: 1;
        margin: .5em 0;
    }
    .zp > img {
        width: 100%;
    }
    .zp-details {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, .5);
    }
    .zp-details > h3,
    .zp-details > p {
        display: inline-block;
        padding-left: 20px;
        color: #fff;
    }
    /*手机版详细页*/
    .zz {
        padding-top: 0;
        padding-bottom: 20px;
        text-align: center;
    }
}


/* iPhone5及以下尺寸 */

@media (max-width: 320px) {
    .navbar-brand {
        width: 40px;
        margin-left: -5px;
    }
    ul.nav-list_item {
        width: 320px;
    }
    .jumbotron {
        height: 195px;
    }

    .zc p.zcdw {
        font-size: 15px;
    }

    .zt {
        height: 150px;
        margin: 20px auto 0;
    }

    .act-time {
        margin: 0;
    }
    .act-time > .col-md-4 {
        margin: 0;
        -webkit-transform: scale(.9);
        transform: scale(.9);
        transform-origin: left;
    }


}
