<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="./images/logo.ico" type="image/x-icon">
    <title>庆祝香港20周年全球华人书画名家盛典</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div style="width:0px; height:0px; overflow:hidden;"><img src="images/logo.png"></div>
    <div class="box">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="nav-list">
                    <a class="navbar-brand" href="http://www.hkstv.tv" target="_blank"><img alt="hkstv" src="images/hks_logo.png"></a>
                    <ul class="nav navbar-nav nav-list_item visile-xs">
                        <li><a href="index.html">活动首页</a></li>
                        <li><a href="hdxq.html">活动详情</a></li>
                        <li class="active"><a href="qbzp.html">全部作品</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right hidden-xs">
                        <li><a href="http://www.hkstv.tv" target="_blank">返回香港卫视官网</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="jumbotron">
        </div>
        <div class="container">
            <div class="navigation hidden-xs">
                <ul>
                    <li class="l"><a href="index.html">首页</a></li>
                    <li class="l"><a href="hdxq.html">活动详情</a></li>
                    <li class="l"><a class="dangqian" href="qbzp.html">全部作品</a></li>
                </ul>
            </div>
        </div>
        <div class="container" ng-app="myWeb" ng-controller="myCtrl">
            <h2>全部作品</h2>
            <ul class="wooks">
                <li ng-hide="{{$index>=count}}" ng-repeat="item in works">
                    <a ng-href="{{item.link}}">
                        <div class="zp">
                            <img ng-src="{{item.imgSrc}}" />
                            <div class="zp-details">
                                <h3 ng-bind="item.title"></h3>
                                <p>作者:{{item.author}}</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="disabled">
                        <a href="javascript:;" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <!-- <li class="{{$first?'active':''}}" ng-repeat="item in works">
                        <a href="javascript:;" ng-click="tClick();">{{x+1}}</a>
                    </li> -->
                    <li>
                        <a href="javascript:;" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <footer class="bs-docs-footer">
            <div class="container">
                <p class="text-center">香港卫视国际传媒集团 版权所有 不得转载
                    <br> 粤ICP备10227277号 </p>
            </div>
        </footer>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
    <script src="js/data.js"></script>
    <script>
    /**
     * myWeb Module
     *
     * Description
     */
    angular.module('myWeb', []).controller('myCtrl', ['$scope', function($scope) {
        $scope.works = works;
        $scope.count = 8;
        var pages = Math.ceil(works / $scope.count);
        $scope.pages = pages;
        
        console.log(works);
    }]);
    </script>
</body>

</html>
